.app
  display: flex
  flex-direction: column
  flex: 1
  text-align: center

.interface
  display: flex
  flex: 1
  padding: 0 0 0.5rem 0.5rem
  box-sizing: border-box

.h1
  font-size: 1rem
  font-weight: 700
  color: #801b1b

